/*Header Related Styles */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gamer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top:0px;
    margin-left: 0px;
     
     }
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
li{
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 00;
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: black;
}
.Follow{
width: 220px;
background-color: rgb(213, 219, 219);
border:none;
padding: 15px;
border-radius: 8px;
text-align: center;
margin-left: 15px;
}

 .pink{
    color: rgb(255, 0, 234);
 }

 /* Banner Related Styles */
.banner-content{
   
    display: grid;
    grid-template-columns: 1fr;
    padding: 110px;
    
}

  .banner-container{
    display: flex;
    gap: 100px;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    max-height: 800px;
    justify-content: center;
  }

  .banner-titles{
    color: rgb(168, 18, 213); 
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0 auto;
    justify-content: center;
    
  }
.banner-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.banner-img img{
;
}

.pink-btn{
    background-color: rgb(255, 0, 251);
    color: white;
    border: none;
    padding: 2px;
    border-radius: 20px;
    width: 100px;
    height: 45px;
}

.blue-btn{
     background-color: rgb(81, 81, 221);
    color: white;
    border: none;
    padding: 2px;
    border-radius: 20px;
    width: 110px;
    height: 45px;
}
.banner-btn{
    display: flex;
    gap: 20px;
}
.banner-btn, .banner-icons{
    margin: 0 auto;
}

/*we are section related styles*/

.We-are-container{
     display: flex;
}
.we-are-content{
    background-color: rgb(241, 199, 241);

    justify-content: center;
    align-items: center;
    padding: 25px 70px;
}
.we-are-btn{
    background-color: rgb(255, 0, 251);
    color: white;
    border: none;
    padding: 2px;
    border-radius: 20px;
    width: 130px;
    height: 45px;
}

.we-are-descriptoin{
    text-align: justify;
    
}

.online-game{
    text-align: center;
}

.funny{
    color: rgb(193, 16, 128);
}

.image-section{
    display: flex;
    width: 1000px;
     margin: 0 auto;
    
}
.image-section img{
    width: 93%;
    
    
}




/*Mobile Size*/

@media screen and (max-width:576px) { .navbar, ul{
    flex-direction: column;
    justify-content: center;
     
}
li{
    margin-bottom: 20px;
    text-align: center;
}
.Follow{
    margin-left: 0px;
    padding: 2px;
    width: 200px;
}
.banner-icons{
    gap:10px;
    margin-bottom: 18px;
}
.banner-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    
}

.banner-content{
    padding: 0px;
}
.banner-img img{
     width: 70%;
     ;
}
.we-are-img img{
    width: 70%;
}
.We-are-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 0px;
    width: 50%;
}
.we-are-descriptoin{
    text-align: center;
    width: 200px;
}
.we-are-descriptoins{
    text-align: center;
    width: 100px;
}
.we-are-content p{
    width: 200px;
    text-align: center;
}
.online-game-title{
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
}
.online-game-des{
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 17px;
}
.image-section{
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
     
    
}

.img-section > .gm-img-one{
    justify-content: center;
}
 
  
}
    

